Protocol 2
Port PROXY-PORT
HostKey /etc/ssh/ssh_host_rsa_key
PasswordAuthentication yes
ChallengeResponseAuthentication yes
AuthorizedKeysFile /app/authorized_keys
UseDNS no
MaxAuthTries 5
LoginGraceTime 60
MaxSessions 5
MaxStartups 10:30:60
AllowUsers proxy

Match User proxy
  PermitTunnel yes
  PermitOpen HOST:PORT
  PermitTTY no
  ForceCommand /usr/bin/true
  MaxSessions 0 # disable sftp
